<li class="nav-item">
  <a class="nav-link btn btn-light" href="/checkout/" aria-current="page" >Cart
    (<span id="cart">0</span>)</a>
</li>

<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <h5>All Books ({{total_books}})</h5>
    </div>
    <div class="card card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Book Name</th>
            <th>Author</th>
            <th>Category</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Add To Cart</th>
            <th>Quantity</th>
          </tr>
        </thead>
        {% for book in books %}
        <tr>
          <td id="namepr{{book.id}}">{{book.book_name}}</td>
          <td id="authorpr{{book.id}}">{{book.author}}</td>
          <td id="categorypr{{book.id}}">{{book.category}}</td>
          <td> ₹<span id="pricepr{{book.id}}">{{book.price}}</span></td>
          <td id="stock{{book.id}}">{{book.stock}}</td>
          <td><button id="pr{{book.id}}" class="btn btn-info cart">Buy Now</button></td>
          <td class="divpr" id="divpr{{book.id}}"></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>