{% extends 'core/base.html' %}

{% block title %}
<title> Services </title>

{% endblock title %}

 {% block content %}
<div class="mt-5">
  <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
  <div class="text-center row text-white mb-5">
    <div class="col-sm-4">
      <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
      <h3>Django</h3>
      <p class="ss-color">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum dicta
        corrupti sit.
      </p>
    </div>

    <div class="col-sm-4">
      <i class="fab fa-python fa-2x mb-3 i-color"></i>
      <h3>Python</h3>
      <p class="ss-color">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum dicta
        corrupti sit.
      </p>
    </div>

    <div class="col-sm-4">
      <i class="fas fa-code fa-2x mb-3 i-color"></i>
      <h3>Web Design</h3>
      <p class="ss-color">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum dicta
        corrupti sit.
      </p>
    </div>
  </div>

  <div class="text-center row text-white mb-5">
    <div class="col-sm-4">
      <i class="fab fa-aws fa-2x mb-3 i-color"></i>
      <h3>AWS</h3>
      <p class="ss-color">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum dicta
        corrupti sit.
      </p>
    </div>

    <div class="col-sm-4">
      <i class="fab fa-html5 fa-2x mb-3 i-color"></i>
      <h3>HTML</h3>
      <p class="ss-color">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum dicta
        corrupti sit.
      </p>
    </div>

    <div class="col-sm-4">
      <i class="fas fa-database fa-2x mb-3 i-color"></i>
      <h3>MySQL</h3>
      <p class="ss-color">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum dicta
        corrupti sit.
      </p>
    </div>
  </div>

  <div class="text-center row text-white mb-5">
    <div class="col-sm-4">
      <i class="fab fa-bootstrap fa-2x mb-3 i-color"></i>
      <h3>Bootstrap</h3>
      <p class="ss-color">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum dicta
        corrupti sit.
      </p>
    </div>

    <div class="col-sm-4">
      <i class="fas fa-palette fa-2x mb-3 i-color"></i>
      <h3>Web Developement</h3>
      <p class="ss-color">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum dicta
        corrupti sit.
      </p>
    </div>

    <div class="col-sm-4">
      <i class="fas fa-pencil-alt fa-2x mb-3 i-color"></i>
      <h3>Logo Design</h3>
      <p class="ss-color">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum dicta
        corrupti sit.
      </p>
    </div>
  </div>
</div>
{% endblock content %}
