<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<body>
    <h1> Enter your text below </h1>

    <form action="/about" method="get">

        <textarea name='text' style="margin: 0px; width: 1282px; height: 202px;">

         </textarea>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                remove punctuations
            </label>
        </div>
        <button type="submit">Analize text</button>
    </form>
</body>

</html>