<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Website</title>
</head>
<body style="background-color: green;">

    <h1> This is heading-1</h1>

    <p1> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta modi blanditiis quam expedita cum, corporis reiciendis, quasi quae iure ab aspernatur odit et eos ipsa hic reprehenderit deleniti! Beatae, inventore hic eum odio rerum ipsam porro? Illum excepturi dicta animi ipsam non a sint fugit dolore dolores ratione autem fuga, rem odit. Similique libero porro inventore quaerat eveniet nemo illo excepturi? Unde dignissimos exercitationem, accusantium architecto nostrum eaque cupiditate incidunt vero repellendus itaque minima numquam id suscipit ut temporibus iure obcaecati a nemo eveniet quo cum atque quisquam recusandae vitae? Ex, ipsam a repellat minima provident ducimus ea reprehenderit natus tenetur, aut aliquam,
        voluptate rerum. Voluptatum quo, voluptatibus quod inventore est error adipisci mollitia at a ratione libero voluptatem. Expedita saepe ex debitis inventore accusantium explicabo odio, illum cupiditate minus aliquam! Aspernatur vero eius, nostrum magnam alias dolorem quis error temporibus praesentium deserunt saepe dolore rem quia id labore ex unde velit minima adipisci sed quo? Debitis, earum nam saepe eveniet perferendis tenetur tempore tempora. Architecto, voluptas! Exercitationem dicta, ut recusandae laboriosam cumque dolor, delectus molestiae harum qui repellendus unde neque necessitatibus perferendis doloribus sed amet tempora omnis impedit eum asperiores placeat fugit, natus expedita perspiciatis! Quisquam maxime ipsum dignissimos
         eos esse consequatur nam possimus culpa alias harum minus, eaque corporis odit beatae maiores ut, expedita error sed et incidunt ipsam similique necessitatibus amet. Amet quo eius saepe nisi culpa magni veniam dolor iusto voluptates minima necessitatibus illum sunt alias quasi nostrum eligendi, non vel aliquam expedita qui, ratione distinctio? Consequuntur officiis maiores ex eligendi nulla, cum quidem rem, iste dolores architecto dolorem laborum obcaecati odit, sit unde doloribus ad deleniti magni a repellendus deserunt dicta. Quibusdam optio dolore quasi odit tenetur accusamus corrupti accusantium excepturi praesentium placeat non dolores facilis quos quo atque sequi, possimus assumenda sint asperiores in neque! Beatae ipsa nesciunt excepturi? 
         Doloribus amet repellat repudiandae distinctio earum nulla accusantium dolor natus, porro temporibus quod reiciendis odit exercitationem! Iste dolor esse commodi reprehenderit hic debitis numquam assumenda ex culpa vel explicabo, nemo eos expedita natus veniam voluptas ut voluptatibus.
          Sit perspiciatis nostrum accusamus laboriosam culpa quisquam iste dolorum itaque corporis veritatis. Ratione nihil saepe nobis modi, reiciendis eos aut hic quos alias id a pariatur eveniet maxime quibusdam error autem minus! Numquam asperiores reprehenderit, voluptate porro soluta odio esse repellendus cum, vel aliquid sequi, dignissimos officia omnis! Non rem quod commodi amet officiis aliquid quia ea mollitia tenetur architecto laudantium unde minus, quae, odit aspernatur earum. Quibusdam a esse soluta eligendi, eos, rerum illo culpa quisquam expedita, eveniet est. Consequatur a, incidunt maiores voluptatibus amet earum, architecto vel sint quae eum blanditiis pariatur, vitae laudantium veniam reprehenderit.
           Similique reiciendis facere fugiat velit alias, inventore veritatis officiis minima quibusdam recusandae non hic! Atque totam praesentium alias? In, est officia. Expedita deserunt repellendus adipisci commodi? Odio laboriosam similique architecto magni temporibus libero nesciunt aut optio modi nisi perferendis provident, dolor natus numquam a blanditiis illum corporis? Ipsum eos inventore enim esse possimus obcaecati tempore! Repellendus quo harum molestiae cumque. ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati facilis sint quo ipsam dolorem. Fuga, impedit perspiciatis dignissimos odio animi culpa natus facere eum et, dolorem ea amet repellendus consequuntur.
    </p1>


    <p2> 

        <b>  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            In dolorem rem itaque rerum quia totam, nam deleniti vitae illo architecto.
        </b>

    </p2>

    <h2> I am <b>Vikas</b></h2>
    {{variable1}} is great.
    {{variable2}} is smart.

    <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world!</h1>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
    -->
  </body>
</html>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

</body>
</html>